body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8e8d4; 
  width: 100%;
  min-height: 100vh;
}

.weather-app {
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: lightblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-app h1 {
  color: #333;
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.weather-card {
  background: #74b9ff;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}